{{>layouts/header}}

<form action="/articles/create" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">제목</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">내용</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="content">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">Back</a>
</form>

{{>layouts/footer}}
